@font-face {
	font-family: "Limkin";
	src: url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.ttf") format(truetype),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff") format(woff),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff2") format(woff2);
	font-weight: 100 900;
}
@font-face {
	font-family: 'Geist Mono';
	src: url('/assets/fonts/GeistMono-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--red: #FF734D;
	--blue: #5ADDE8;
	--purple: #A690FC;
	--yellow: #fcc03a;
	--pink: #F3A8DD;
	--green: #98DB6B;
	--off-white: #fafafa;
	--light-gray: #e5e5e5;
	--dark-gray: #444444;
	--off-black: #111; /* usually #222 */
}
body {
	text-wrap: pretty;
	font-family: "Limkin", sans-serif;
	font-variation-settings: "wght" 500, "SRFF" 0;
	font-weight: 500;
	background-color: var(--off-black);
	padding-bottom: 25vh;
}

/* Header */
.header {
	padding-top: 5px;
	margin-bottom: 5vw;
}
.header-title {
	font-size: max(5vw, 30px);
	background-color: var(--off-white);
	width: min-content;
	font-variation-settings: "wght" 900, "SRFF" 0;
	font-weight: 900;
	color: var(--off-black);
	letter-spacing: -.05em;
	line-height: 1.2em;
	border-radius: 50%;
	text-align: center;
	padding: .5em;
	white-space: nowrap;
	padding-top: .7em;
	margin: 20px;
	box-shadow: 0 0 20px var(--off-white);
	/* text-shadow: 0 0 5px var(--off-black); */
	animation: header-title 1s infinite cubic-bezier(0.87, 0, 0.13, 1) alternate;
}
@keyframes header-title {
	0% {
		box-shadow: 0 0 2px var(--off-white);
		opacity: .1;
	}
	100% {
		box-shadow: 0 0 40px var(--off-white);
		opacity: 1;
	}
}
.header-desc {
	color: var(--off-white);
	font-size: 8vw;
	line-height: 1em;
	text-shadow: 0 0 20px var(--off-white);
	font-variation-settings: "wght" 100, "SRFF" 0;
	font-weight: 100;
	text-wrap: balance;
	padding: 0 20px;
	letter-spacing: -.1em;
}
@media (max-width: 600px) {
	.header-desc {
		font-variation-settings: "wght" 200, "SRFF" 0;
		font-weight: 200;
	}
}
.header-link {
	text-decoration: none;
	color: var(--off-white);
	transition: opacity .1s;
}
.header-link span {
	transition: color 1s, text-shadow 1s;
	color: var(--primary);
	text-shadow: 0 0 20px var(--primary);
}
.header-link:hover {
	opacity: .5;
}
.header-link:active {
	opacity: .25;
}

/* Nav */
.nav {
	position: fixed;
	bottom: 0;
	padding: 15px;
	right: 0;
	left: 0;
	display: flex;
	align-items: end;
	justify-content: safe center;
	background-image: linear-gradient(to bottom, transparent 0%, var(--off-black) 100%);
	gap: 10px;
	z-index: 9;
	--primary: var(--off-white);
	overflow-x: scroll;
}
.nav-step {
	font-family: "Limkin", sans-serif;
	flex-shrink: 0;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding-top: .2em;
	color: var(--primary);
	border: .05em solid var(--primary);
	background-color: rgba(0,0,0,.5);
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	font-size: 24px;
	line-height: 1em;
	transform: rotate(30deg);
	cursor: pointer;
	box-shadow: inset 0 0 10px var(--primary), 0 0 10px var(--primary);
	text-shadow: 0 0 10px var(--primary);
	transition: transform .2s, background-color .2s, color .2s;
}
@media (max-width: 600px) {
	.nav-step {
		border-width: 1px;
	}
}
.nav-step:hover {
	transform: rotate(-30deg);
	color: var(--off-black);
	text-shadow: 0 0 10px var(--off-black);
	background-color: var(--primary);
}
.nav-step:active {
	transform: scale(.8) rotate(-30deg);
}
.nav-toggle {
	flex-shrink: 0;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	padding-top: .2em;
	letter-spacing: -0.05em;
	color: var(--primary);
	border: .1em solid var(--primary);
	background-color: rgba(0,0,0,.5);
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 1em;
	padding-right: .15em;
	transform: rotate(-30deg);
	cursor: pointer;
	box-shadow: inset 0 0 10px var(--primary), 0 0 10px var(--primary);
	text-shadow: 0 0 10px var(--primary);
	transition: transform .2s, background-color .2s, color .2s;
}
@media (max-width: 600px) {
	.nav-toggle {
		border-width: 1px;
	}
}
.nav-toggle:hover {
	transform: rotate(30deg);
	color: var(--primary);
	text-shadow: 0 0 10px var(--primary);
	background-color: rgba(255,255,255,.5);
}
.nav-toggle:active {
	transform: scale(.8) rotate(30deg);
}
.nav-spacer {
	flex-grow: 1;
}

/* Step menu */
.steps {
	display: flex;
	flex-direction: column;
}
.step-title {
	gap: 20px;
	display: flex;
	color: var(--primary);
	font-size: 7vw;
	line-height: 1em;
	text-shadow: 0 0 10px var(--primary);
	font-variation-settings: "wght" 100, "SRFF" 0;
	font-weight: 100;
	text-wrap: balance;
	cursor: pointer;
	transition: text-shadow .1s, color .1s, opacity .1s;
	padding: 10px 20px;
	z-index: 1;
}
@media (max-width: 600px) {
	.step-title {
		font-variation-settings: "wght" 200, "SRFF" 0;
		font-weight: 200;
	}
}
.step-title:hover {
	color: var(--off-white);
	text-shadow: 0 0 20px var(--off-white);
}
.step-title:active {
	opacity: .5;
}
.step-title-number {
	flex-shrink: 0;
	border: .04em solid var(--primary);
	box-shadow: 0 0 10px var(--primary), inset 0 0 10px var(--primary);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .5em;
	width: 1.8em;
	height: 1.8em;
	text-align: center;
	font-variation-settings: "wght" 200, "SRFF" 0;
	font-weight: 200;
	padding-top: .2em;
	transition: box-shadow .1s;
}
.step-title-name {
	letter-spacing: -.1em;
	padding-top: .05em;
}
.step-title:hover .step-title-number {
	border: .04em solid var(--off-white);
	box-shadow: 0 0 20px var(--off-white), inset 0 0 20px var(--off-white);
}
@media (max-width: 600px) {
	.step-title-number {
		font-variation-settings: "wght" 300, "SRFF" 0;
		font-weight: 300;
		border: 1px solid var(--primary);
	}
	.step-title:hover .step-title-number {
		border: 1px solid var(--off-white);
	}
}

/* Opened state */
.step[data-active="1"] {
	margin: 40px 0;
}
.step[data-active="1"] .step-title {
	font-size: min(40px, 5vw);
	position: sticky;
	top: 0;
	background-color: var(--primary);
	color: var(--off-black);
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	align-items: center;
	padding: 10px 20px;
	box-shadow: 0 0 20px var(--primary);
	text-shadow: unset;
	transition: background-color .1s, opacity .1s;
}
.step[data-active="1"] .step-title-number {
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	color: var(--primary);
	padding-top: .2em;
	padding-left: .02em;
	background-color: var(--off-black);
	box-shadow: unset;
	border: unset;
}
.step[data-active="1"] .step-title-name {
	letter-spacing: -0.05em;
	padding-top: .2em;
}
.step[data-active="1"] .step-title:hover {
	background-color: var(--off-white);
	box-shadow: 0 0 20px var(--off-white);
}
.step[data-active="1"] .step-title:hover .step-title-number {
	color: var(--off-white);
}
.step[data-active="0"] .step-content {
	display: none;
}

/* Step content */
.step-content {
	font-variation-settings: "wght" 200, "SRFF" 0;
	font-weight: 200;
	font-size: clamp(18px, 2vw, 40px);
	color: var(--off-white);
	line-height: 1.4em;
	padding: 2em 20px;
	display: flex;
	flex-direction: column;
	gap: 1.4em;
	justify-content: start;
	background: linear-gradient(to top, var(--off-black) 0%, rgba(0,0,0,.8) 50%), linear-gradient(to top, var(--off-black) 0%, var(--primary) 10%, var(--primary) 100%);
}
@media (max-width: 600px) {
	.step-content {
		font-variation-settings: "wght" 300, "SRFF" 0;
		font-weight: 300;
	}
}
.step-divider {
	border-top: 1px solid var(--primary);
	max-width: clamp(160px, 50vw, 420px);
	margin: 1.4em auto;
	width: 100%;
}
.step-content strong {
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
}
.step-content h3 {
	font-size: inherit;
	width: 100%;
	margin: 0 auto;
	max-width: 30em;
	text-wrap: balance;
	display: flex;
	flex-direction: column;
}
.step-content-subtitle {
	font-size: clamp(18px, 2vw, 40px);
	line-height: 1.2em;
	color: var(--primary);
	letter-spacing: -0.02em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
}
.step-content-title {
	font-size: clamp(36px, 4vw, 72px);
	line-height: 1em;
	letter-spacing: -0.05em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
}
.step-content p {
	width: 100%;
	margin: 0 auto;
	max-width: 30em;
	text-wrap: pretty;
	letter-spacing: -0.02em;
}
.step-content ul {
	width: 100%;
	margin: 0 auto;
	max-width: 30em;
	text-wrap: pretty;
	letter-spacing: -0.02em;
	list-style: "→  ";
	padding-left: 1.2em;
}
.step-content a {
	text-decoration: 1px wavy underline;
	text-underline-offset: .2em;
	color: var(--primary);
}
.step-content a:hover {
	color: var(--off-white);
}
.step-content a:active {
	opacity: .5;
}
.step-list {
	width: 100%;
	margin: 0 auto;
	max-width: 30em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.step-list-item {
	display: grid;
	grid-template-columns: 1.4em 1fr;
	gap: 1.4em;
}
.step-list-item-number {
	width: 2.4em;
	height: 2.4em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .7em;
	border-radius: 50%;
	font-variation-settings: "wght" 800, "SRFF" 0;
	font-weight: 800;
	padding-top: .2em;
	padding-right: .04em;
	letter-spacing: -.04em;
	background-color: var(--primary);
	box-shadow: 0 0 10px var(--primary);
	color: var(--off-black);
}
.step-list-item-text {
	padding-top: .2em;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.step-list-item-text-small {
	font-size: max(18px, .6em);
	opacity: .25;
	line-height: 1.5em;
	transition: opacity .2s;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 300;
	border-left: 1px solid var(--primary);
	padding: .2em 0 0 20px;
	max-width: unset !important;
}
.step-list-item-text-small:hover {
	opacity: 1;
}
.text-highlight {
	border-radius: 2px;
	box-shadow: -1px -1px #555,  1px -1px #555, 1px 1px #555, -1px 1px #555;
	background-color: black;
	margin-top: .1em;
	color: var(--primary);
	padding: .2em .35em 0.1em .35em;
	font-family: "Geist Mono", monospace;
	font-size: .8em;
	line-height: 1.2em;
	letter-spacing: 0;
	transform: translateY(-.1em);
	font-variation-settings: "wght" 500;
	font-weight: 500;
	max-width: 90%;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}
.step-callout {
	display: flex;
	flex-direction: column;
	gap: .5em;
	font-size: max(18px, .8em);
	line-height: 1.5em;
	margin: .7em auto !important;
	flex-shrink: 0;
	border: 1px solid var(--primary);
	padding: 1.3em 1.5em 1.1em 1.5em;
	border-radius: 2px;
	box-shadow: 0 0 20px var(--primary), inset 0 0 20px var(--primary);
}
.step-callout strong {
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	color: var(--primary);
}

/* File path visualization */
.tree {
	max-width: 100%;
	font-family: "Geist Mono", monospace;
	gap: .5em;
	padding: 2px;
	font-size: max(14px, .6em);
	line-height: 1.25em;
	margin: .7em auto;
	flex-shrink: 0;
	border-radius: 2px;
	color: var(--primary);
	overflow-x: scroll;
}