@font-face {
	font-family: "Limkin";
	src: url("/assets/fonts/limkin.ttf");
}
@font-face {
	font-family: 'Monaspace Krypton';
	src: url('assets/fonts/MonaspaceKryptonVarVF[wght\,wdth\,slnt].ttf'),
		url('assets/fonts/MonaspaceKryptonVarVF[wght\,wdth\,slnt].woff') format('woff'),
		url('assets/fonts/MonaspaceKryptonVarVF[wght\,wdth\,slnt].woff2') format('woff2');
}
* {
	margin: 0;
	padding: 0;
	font-family: "Limkin", sans-serif;
	box-sizing: border-box;
}
:root {
	--red: #FF734D;
	--blue: #5ADDE8;
	--purple: #A690FC;
	--yellow: #fcc03a;
	--pink: #F3A8DD;
	--green: #98DB6B;
	--black: #353535;
	--black2: #282828;
	--black3: #1b1b1b;
	--white: #e5e5e5;
}
body {
	text-wrap: pretty;
	font-variation-settings: "wght" 500, "SRFF" 0;
	background-color: #111;
	padding-bottom: 100px;
}

/* Header */
.header {
	padding-top: 5px;
	margin-bottom: 5vw;
}
.header-title {
	font-size: max(5vw, 30px);
	background-color: var(--white);
	width: min-content;
	font-variation-settings: "wght" 900, "SRFF" 0;
	color: var(--black3);
	letter-spacing: -.09em;
	line-height: 1.2em;
	border-radius: 50%;
	text-align: center;
	padding: .5em;
	white-space: nowrap;
	padding-top: .7em;
	margin: 20px;
	box-shadow: 0 0 10px var(--white);
	text-shadow: 0 0 5px var(--black3);
	animation: header-title 1s infinite cubic-bezier(0.87, 0, 0.13, 1) alternate;
}
@keyframes header-title {
	0% {
		box-shadow: 0 0 2px var(--white);
		text-shadow: 0 0 2px var(--black3);
		opacity: .1;
	}
	100% {
		box-shadow: 0 0 10px var(--white);
		text-shadow: 0 0 5px var(--black3);
		opacity: 1;
	}
}
.header-desc {
	gap: 20px;
	display: flex;
	color: var(--white);
	font-size: 8vw;
	line-height: 1em;
	text-shadow: 0 0 10px var(--white);
	font-variation-settings: "wght" 200, "SRFF" 0;
	text-wrap: balance;
	padding: 0 20px;
	letter-spacing: -.07em;
}
.header-link {
	text-decoration: none;
	color: var(--white);
	transition: opacity .2s;
}
.header-link span {
	transition: color 1s, text-shadow 1s;
	color: var(--primary);
	text-shadow: 0 0 10px var(--primary);
}
.header-link:hover {
	opacity: .5;
}
.header-link:active {
	opacity: .25;
}

/* Nav */
.nav {
	position: fixed;
	bottom: 0;
	padding: 15px;
	right: 0;
	left: 0;
	display: flex;
	align-items: end;
	justify-content: safe center;
	background-image: linear-gradient(to bottom, transparent 0%, #111 100%);
	gap: 10px;
	z-index: 9;
	--primary: var(--white);
	overflow-x: scroll;
}
.nav-step {
	flex-shrink: 0;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding-top: .2em;
	color: var(--primary);
	border: 3px solid var(--primary);
	background-color: rgba(0,0,0,.5);
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-size: 24px;
	line-height: 1em;
	transform: rotate(30deg);
	cursor: pointer;
	text-shadow: 0 0 3px var(--primary);
	transition: transform .2s, background-color .2s, color .2s;
}
.nav-step:hover {
	transform: rotate(-30deg);
	color: var(--black3);
	text-shadow: 0 0 3px var(--black3);
	background-color: var(--primary);
}
.nav-step:active {
	transform: scale(.8) rotate(-30deg);
}
.nav-toggle {
	flex-shrink: 0;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	padding-top: .2em;
	letter-spacing: -0.05em;
	color: var(--primary);
	border: 3px solid var(--primary);
	background-color: rgba(0,0,0,.5);
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-size: 14px;
	line-height: 1em;
	padding-right: .15em;
	transform: rotate(-30deg);
	cursor: pointer;
	text-shadow: 0 0 3px var(--primary);
	transition: transform .2s, background-color .2s, color .2s;
}
.nav-toggle:hover {
	transform: rotate(30deg);
	color: var(--primary);
	text-shadow: 0 0 3px var(--primary);
	background-color: rgba(255,255,255,.5);
}
.nav-toggle:active {
	transform: scale(.8) rotate(30deg);
}
.nav-spacer {
	flex-grow: 1;
}

/* Step menu */
.steps {
	display: flex;
	flex-direction: column;
}
.step-title {
	gap: 20px;
	display: flex;
	color: var(--primary);
	font-size: 8vw;
	line-height: 1em;
	text-shadow: 0 0 5px var(--primary);
	font-variation-settings: "wght" 200, "SRFF" 0;
	text-wrap: balance;
	cursor: pointer;
	transition: text-shadow .2s, color .2s, opacity .2s;
	padding: 10px 20px;
	z-index: 1;
}
.step-title:hover {
	color: var(--white);
	text-shadow: 0 0 10px var(--white);
}
.step-title:active {
	opacity: .5;
}
.step-title-number {
	flex-shrink: 0;
	border: 3px solid var(--primary);
	box-shadow: 0 0 5px var(--primary), inset 0 0 5px var(--primary);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .5em;
	width: 1.8em;
	height: 1.8em;
	text-align: center;
	font-variation-settings: "wght" 350, "SRFF" 0;
	padding-top: .2em;
	transition: box-shadow .2s;
}
.step-title-name {
	letter-spacing: -.07em;
	padding-top: .05em;
}
.step-title:hover .step-title-number {
	border: 3px solid var(--white);
	box-shadow: 0 0 10px var(--white), inset 0 0 10px var(--white);
}

/* Opened state */
.step[data-active="1"] {
	margin: 40px 0;
}
.step[data-active="1"] .step-title {
	font-size: min(40px, 5vw);
	position: sticky;
	top: 0;
	background-color: var(--primary);
	color: var(--black3);
	font-variation-settings: "wght" 700, "SRFF" 0;
	text-shadow: 0 0 2px var(--black3);
	align-items: center;
	padding: 10px 20px;
	box-shadow: 0 0 4px var(--primary);
	transition: background-color .05s, opacity .05s;
}
.step[data-active="1"] .step-title-number {
	font-variation-settings: "wght" 700, "SRFF" 0;
	color: var(--primary);
	background-color: var(--black3);
	box-shadow: inset 0 0 5px var(--primary);
	border: unset;
}
.step[data-active="1"] .step-title-name {
	letter-spacing: -0.05em;
	padding-top: .2em;
}
.step[data-active="1"] .step-title:hover {
	background-color: var(--white);
}
.step[data-active="1"] .step-title:hover .step-title-number {
	color: var(--white);
}
.step[data-active="0"] .step-content {
	display: none;
}

/* Step content */
.step-content {
	background-color: #111;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-size: max(18px, 2vw);
	color: var(--white);
	line-height: 1.4em;
	padding: 2em 20px;
	display: flex;
	flex-direction: column;
	gap: 1.4em;
	justify-content: start;
	background: linear-gradient(to top, #111 0%, var(--black3) 50%);
}
.step-content p {
	width: 100%;
	margin: 0 auto;
	max-width: max(50vw, 800px);
	text-wrap: pretty;
	letter-spacing: -0.02em;
}
.step-content a {
	text-decoration: 1px wavy underline;
	text-underline-offset: .2em;
	color: var(--primary);
	text-shadow: 0 0 2px var(--primary);
}
.step-content a:hover {
	color: var(--white);
}
.step-content a:active {
	opacity: .5;
}
.step-list {
	width: 100%;
	margin: 0 auto;
	max-width: max(50vw, 800px);
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.step-list-item {
	display: grid;
	grid-template-columns: 1.4em 1fr;
	gap: 1.4em;
}
.step-list-item-number {
	width: 2em;
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .8em;
	border-radius: 50%;
	font-variation-settings: "wght" 700, "SRFF" 0;
	padding-top: .2em;
	background-color: var(--primary);
	box-shadow: 0 0 5px var(--primary);
	text-shadow: 0 0 2px var(--black3);
	color: var(--black3);
}
.step-list-item-text {
	padding-top: .2em;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.step-list-item-text-small {
	font-size: max(18px, .6em);
	opacity: .5;
	line-height: 1.5em;
	transition: opacity .2s;
	padding: 1em 1.2em .8em 1.2em;
	background-color: rgba(255,255,255,.05);
	border-radius: 20px;
	box-shadow: 0 0 5px var(--black2), inset 0 0 5px var(--black2);
}
.step-list-item-text-small:hover {
	opacity: 1;
}
.text-highlight {
	background-color: var(--black);
	border-radius: 10px;
	color: var(--primary);
	padding: .35em .35em 0.2em .35em;
	font-family: "Monaspace Krypton", monospace;
	font-size: .8em;
	line-height: 1.1em;
	transform: translateY(-.1em);
	display: inline-block;
	font-variation-settings: "wght" 300;
	text-shadow: 0 0 2px var(--primary);
}
.step-list-item-text-small .text-highlight {
	background-color: var(--black);
	padding: .35em .35em 0.2em .35em;
}
.step-callout .text-highlight {
	background-color: rgba(0,0,0,.5);
}
.step-callout {
	display: flex;
	flex-direction: column;
	gap: .5em;
	font-size: max(18px, .8em);
	line-height: 1.5em;
	border: 3px solid var(--primary);
	padding: 1em 1.2em .8em 1.2em;
	border-radius: 20px;
	box-shadow: 0 0 5px var(--primary), inset 0 0 5px var(--primary);
	background: linear-gradient(to bottom, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 100%), linear-gradient(to bottom, var(--primary) 0%, var(--primary) 100%);
}
.step-callout strong {
	font-variation-settings: "wght" 600, "SRFF" 0;
	color: var(--primary);
	text-shadow: 0 0 2px var(--primary);
}

/* File path visualization */
.folder {
	font-size: max(18px, 1vw);
	line-height: 1em;
	max-width: max(40vw, 600px);
	width: 100%;
	margin: 0 auto;
	border: 3px solid var(--primary);
	background: linear-gradient(to bottom, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 100%), linear-gradient(to bottom, var(--primary) 0%, var(--primary) 100%);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 5px var(--primary), inset 0 0 5px var(--primary);
	padding-bottom: 10px;
}
.folder .folder {
	width: auto;
	margin: 20px 20px 10px 20px;
}
.folder-files {
	display: flex;
	flex-direction: column;
	overflow-x: scroll;
}
.folder-file {
	margin: 10px 10px 0 10px;
	color: var(--primary);
	font-variation-settings: "wght" 600, "SRFF" 0;
	text-shadow: 0 0 2px var(--primary);
}
.folder-name {
	padding: 10px;
	background-color: var(--primary);
	color: var(--black);
	font-variation-settings: "wght" 600, "SRFF" 0;
	text-shadow: 0 0 2px var(--black);
}